body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.bg-image, .overlay {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
}

.bg-image {
	background-image: url("city5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
}

.overlay {
	background-color: rgba(30,30,50,0.6);
	z-index: -1;
}

.header {
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100%;
}

.inner {
	transition: all 0.5s;
	color: white;
	text-align: center;
	align-self: center;
}

.inner h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	font-weight: lighter;
	font-style: italic;
	text-transform: uppercase;
}

.inner h2 {
	margin: 8px 0;
	font-size: 22px;
	font-style: italic;
}

.icons-container {
	margin: 10px auto 0 auto;
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.icons-container a {
	transition: all 0.3s;
	color: white;
	text-decoration: none;
}

.icons-container a:hover {
	color: #0093C4;
}

.content {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.about, .projects {
	width: 480px;
	margin: 0 auto;
}

.projects {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content h1 {
	font-size: 30px;
	width: 100%;
}

.about p {
	margin-top: 10px;
	text-align: justify;
	font-size: 18px;
}

.projects div {
	max-width: 100%;
	width: 230px;
	height: 200px;
	border: 1px solid rgb(140,140,140);
}

.project {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	display: block;
	margin: 10px auto 0 auto;
}

.quiz {
	background-image: url("quizapp.png");	
}

.music {
	background-image: url("musicboxes.png");
}

.forum {
	background-image: url("basketball.jpg");
}

.simon {
	background-image: url("images/kanyesays.png");
}

.quiz-overlay, .forum-overlay, .simon-overlay, .music-overlay {
	background-color: rgba(0,0,0,0.9);
	display: none;
}

.container {
	padding: 25px;
}

.quiz:hover .quiz-overlay, .forum:hover .forum-overlay, .simon:hover .simon-overlay, .music:hover .music-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.project-name {
	font-size: 25px;
	margin-bottom: 10px;
}

.project-desc {
	font-size: 18px;
	margin-bottom: 20px;
}

.view {
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 8px 12px;
}

.view:hover, .view:focus {
	transition: all 0.3s;
	background-color: #0093C4;
	border: 1px solid #69D9FF;
}

span {
	font-weight: bolder;
}

@media (max-width : 480px) {
    .content, .header {
      width: 480px;
    }

    .projects div {
    	width: 400px;
    	height: 250px;
    }
    .about p {
  		padding: 0 10px;
    }

    .quiz-overlay, .forum-overlay, .simon-overlay, .music-overlay {
			display: block;
			color: white;
			background-color: rgba(0,0,0,0.7);			
		}

		.quiz:hover .quiz-overlay, .forum:hover .forum-overlay, .simon:hover .simon-overlay, .music:hover .music-overlay {
				display: block;
			}
}
