body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.bg-image, .overlay, .bg-gif {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
}

.bg-image {
	background-image: url("images/city5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -3;
}

.bg-gif {
  opacity: 0.5;
  z-index: -2;
  background-image: url("https://media.giphy.com/media/26FPOFusQUOKpnXTG/giphy.gif");
  background-size: 100% 100%;
}

.overlay {
	background-color: rgba(30,30,50,0.6);
	z-index: -1;
}

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: auto;
	height: 100vh;
	width: 100%;
}

.inner {
	transition: all 0.5s;
	color: white;
	text-align: center;
	align-self: center;
	-webkit-align-self: center;
}

.inner h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	font-weight: lighter;
	font-style: italic;
	text-transform: uppercase;
}

.inner h2 {
	margin: 8px 0;
	font-size: 22px;
	font-style: italic;
}

.icons-container {
	margin: 10px auto 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
	width: 120px;
}

.icons-container a {
	transition: all 0.3s;
	color: white;
	text-decoration: none;
}

.icons-container a:hover {
	color: #0093C4;
}

.content {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.about, #projects {
	width: 720px;
	margin: 0 auto;
}

.project-list, .select {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content h1 {
	font-size: 30px;
	width: 100%;
  margin: 0.5em auto;
}

.about p {
	margin-top: 10px;
	text-align: justify;
	font-size: 18px;
}

.project-list div {
	max-width: 100%;
	width: 345px;
	height: 300px;
	border: 1px solid rgb(140,140,140);
}

.project {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	display: block;
	margin: 10px auto 0 auto;
}

.quiz {
	background-image: url("images/quizapp.png");	
}

.music {
	background-image: url("images/musicboxes.png");
}

.forum {
	background-image: url("images/basketball.jpg");
}

.cycle {
	background-image: url("images/bike.gif");
}

.vb1 {
  background-image: url("images/vb1.jpg");
}

.vb2 {
  background-image: url("images/vb2.jpg");
}

.vb3 {
  background-image: url("images/vb3.jpg");
}

.vb4 {
  background-image: url("images/vb4.jpg");
}

.eng1 {
  background-image: url("images/eng1.png");
}

.eng2 {
  background-image: url("images/eng2.png");
}

.eng3 {
  background-image: url("images/eng3.png");
}

.eng4 {
  background-image: url("images/eng4.png");
}

.book1 {
  background-image: url("images/book1.png");
  background-position: top;
}

.book2 {
  background-image: url("images/book2.png");
}

.book3 {
  background-image: url("images/book3.png");
}

.book4 {
  background-image: url("images/book4.png");
  background-position: top;
}

.quiz-overlay, .forum-overlay, .cycle-overlay, .music-overlay, .vb1-overlay, .vb2-overlay, .vb3-overlay, .vb4-overlay, .eng1-overlay, .eng2-overlay, .eng3-overlay, .eng4-overlay, .book1-overlay, .book2-overlay, .book3-overlay, .book4-overlay {
	background-color: rgba(0,0,0,0.9);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;  
  color: white;
  opacity: 0;
  transition: 0.4s opacity;
}

.project section {
  display: none;
}

.project:hover section {
  display: block;
}

.container {
	padding: 25px;
}

.quiz:hover .quiz-overlay, .forum:hover .forum-overlay, .cycle:hover .cycle-overlay, .music:hover .music-overlay, .vb1:hover .vb1-overlay, .vb2:hover .vb2-overlay, .vb3:hover .vb3-overlay, .vb4:hover .vb4-overlay, .eng1:hover .eng1-overlay, .eng2:hover .eng2-overlay, .eng3:hover .eng3-overlay, .eng4:hover .eng4-overlay, .book1:hover .book1-overlay, .book2:hover .book2-overlay, .book3:hover .book3-overlay, .book4:hover .book4-overlay {
  opacity: 1;
}

.project-name {
	font-size: 25px;
	margin-bottom: 10px;
}

.project-desc {
	font-size: 18px;
	margin-bottom: 20px;
}

.project-desc2 {
  font-size: 18px;
}

.view {
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 8px 12px;
}

.view:hover, .view:focus {
	transition: all 0.3s;
	background-color: #0093C4;
	border: 1px solid #69D9FF;
}

span {
	font-weight: bolder;
}

#profile {
	width: 300px;
	border-radius: 150px;
	margin-top: 5px;
}

.button, .button-active {
  width: 175px;
  box-sizing: border-box;
  color: white;
  padding: 1em;
  transition: background-color 0.6s;
}

.button {
  background-color: rgb(180,180,190);
}

.button-active {
  background-color: #0093C4;
}

.button:hover {
  background-color: #2ABBEB;
}

.show {
  display: block;
}

.no-show {
  display: none;
}

@media (max-width: 740px) and (min-width: 520px) {
	.header, .about, #projects, #volleyball, #engineering {
		width: 480px;
	}

	.project-list div {
		width: 230px;
		height: 200px;
	}

  .button, .button-active {
    width: 115px;
  }
}

@media (max-width : 520px) {
    #projects,#volleyball, #engineering, .about {
      width: 98%;
    }

    .header {
    	width: 100%;
    }

    .inner h1 {
    	font-size: 45px;
    }

    .inner h2 {
    	font-size: 16px;
    }

    .project-list div {
    	width: 100%;
    	height: 250px;
    }
    .about p {
  		padding: 0 10px;
    }

    .quiz-overlay, .forum-overlay, .cycle-overlay, .music-overlay, .vb1-overlay,.vb2-overlay,.vb3-overlay,.vb4-overlay, .eng1-overlay,.eng2-overlay,.eng3-overlay,.eng4-overlay, .book1-overlay, .book2-overlay, .book3-overlay, .book4-overlay {
			display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
			color: white;
			background-color: rgba(0,0,0,0.7);
		  -webkit-justify-content: center;
		  -ms-justify-content: center;
		  justify-content: center;
	  	-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
		}

    .button, .button-active {
      width: 24.5%;
      padding: 0.7em 0.5em;
    }

}
